const communityAdminAddress: string = '{{CommunityAdmin}}';
const treasuryAddress: string = '{{Treasury}}';
const attestationProxyAddress: string = '{{AttestationProxy}}';
const celoDollarAddress: string = '{{CeloDollar}}';

export { celoDollarAddress, communityAdminAddress, treasuryAddress, attestationProxyAddress };
