const communityAdminAddress: string = '{{CommunityAdmin}}';
const treasuryAddress: string = '{{Treasury}}';
const attestationProxyAddress: string = '{{AttestationProxy}}';

export { communityAdminAddress, treasuryAddress, attestationProxyAddress };
